@charset "UTF-8";
body{
	background-color: #fafafa;
}
header{
	width: 100%;
	display: flex;
	padding: 6px 0;
}
header p{
	font-size: 14px;
	color: #29b078;
	flex:1;
	text-align: center;
	line-height: 24px;
}
span{
	background-image: url(img/task8-1.png);
}
.cat1,.cat2,.cat3{
	display: inline-block;
	width: 25px;
	height: 24px;
	vertical-align: middle;
}
.cat1{background-position: -32px -343px;}
.cat2{background-position: -59px -343px;}
.cat3{background-position: -86px -343px;}
header div{
	flex:1;
	text-align: center;
}
header button{
	border: none;
	background:#fff; 
	padding: 0;
}
.navbar-toggle span{
	background-image: none;
}
.navbar-default{
	background-color: #29b078;
}
//.icon-bar{background-color: #fff;}
.navbar{margin-bottom: 0;}
.navbar-toggle{background-color: #fff;}
.name{
	color: #fff !important;
	font-size: 16px !important;
}
.actives{
	border-bottom:solid 5px #fff; 
}

.navbar-nav li:visited{border-bottom:solid 5px #fff;background-color: #29b078; }
.navbar-nav li:hover{border-bottom:solid 5px #fff;background-color: #29b078; }
.navbar-nav li:active{border-bottom:solid 5px #fff;background-color: #29b078; }
//.navbar-nav>li{float: right;}
.first{text-align: right;}
.second{display: inline-block;background-image: none;font-size: 24px;}
.third{display: inline-block;}
.special{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	color: #fff;
}
.navbar-brand>p{
	position: relative;
	top: -6px;
	font-size: 29px;
	color: #fff;
}
.navbar-brand>span{
	background-image: none;
	position: relative;
	top: -8px;
	color: #fff;
}


.imgs img{max-width: 100%;}
main{
	padding: 0 10%;
	background-color: #fafafa;
	padding-bottom: 50px;
}
main>ul{
	box-sizing: border-box;
	float: left;
	border:solid 1px #fafafa;
	margin-right: 5%; 
	background-color: #fff;
	width: 35%;
}
main>div{
	width: 60%;
	box-sizing: border-box;
	float: left;
}
main>h1>span{
	color: #29b078;
	font-size: 16px;
}
main>h1{
	margin: 10px 0;
}
main:after{
	content: "";
	clear: both;
	display: block;
}
main ul h2{
	padding: 20px 0;
	font-weight: 800;
	border-bottom: solid 3px #fafafa;
	text-align: center;
}
main ul li{
	padding: 18px 0;
	//font-size: 14px;
	color: #29b078;
	padding-left: 30%;

}
main ul span{
	width: 14px;
	height: 14px;
	display: inline-block;
	border: solid 2px #ff712d;
	border-radius: 50%;
	margin-right: 8px;
}
main>div{
	font-size: 14px;
	color: #999999;
	background-color: #fff;
	border: solid 1px #f6f6f6;
	padding: 5% 0;
}
.contents{
	display: flex;
	padding: 0 5% 5% 5%;
	border-bottom: solid 1px #f6f6f6;
}
.contents div{
	display: flex;
	align-items:center;
	margin-right: 10%; 
}
.seconds{
	padding:5% 5% 0 5%;
}
.seconds p{
	margin: 1rem 0;	
	text-indent: 2rem;
}




footer{
	padding: 2% 10%;
	margin: 0 auto;
	background-color: #26a26f;
	color: #fff;
}
.num1{
	text-align: left;
	height: 114px;
}
.num2{
	text-align: left;
	height: 114px;
}
.num3{text-align: right;}
.num1 p , .num2 p{
	height: 34%;
}
@media screen and (max-width: 991px){
	.num1,.num2,.num3{text-align: center;}
	.mimi{display: none;}
}



.bottoms{
	
	width: 100%;
	border-top: solid 1px #32c086;
	color: #fff;
	text-align: center;
	background-color: #26a26f;
	z-index: 999;
}
@media screen and (min-width: 768px) {
    #example-navbar-collapse ul {
        float: right;
        padding-right: 10%;
    }
}
@media screen and (max-width: 768px){
	.contents{display: block;}
	main ul li{padding-left:37%; }
	main ul{float: none;width: 100%;margin-right: 0;}
	main>div{width: 100%;float: none;}
}



