@charset "UTF-8";
body{
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
}
main{
	padding: 10% 25% 0 25%;
}
.contain div{
	width: 32%;
	padding-top: 32%;
	margin-left: 1%;
	margin-top: 1%;
	background-color: orange;
	float: left;
	border-radius: 15%;
}
main button{
	width: 100%;
	border: solid 2px orange;
	margin-top: 5%;
	background-color: #fff;
	color: orange;
	font-size: 18px;
	border-radius: 4%;
	outline: none;
}
button:hover{
	background-color: orange;
	color: #fff;
}