@charset "UTF-8";
html{font-size: 10px;}
body{
	width: 100%;
	max-width: 720px;
	margin:0 auto;
}
header{
	background-color: #29bde0;
	position: fixed;
	top: 0;
	padding: 10px 0; 
	z-index: 999;
	width: 100%;
	max-width: 720px;
}
header button{
	border: none;
	background: #29bde0;
	//margin-left: 22px;
	position: absolute;
	top: 50%;
	transform:translate(0,-50%);
	cursor: pointer;
}
header span{
	background-image: url(img/task3.png);
	display: block;
	background-repeat: no-repeat;
	//background-size: contain;
}
#back{left: 24px;}
#close{right: 24px;}
.cat1{
	width: 24px;
	height: 44px;
	background-position: 0 0 ;
}
.cat2{
	width: 36px;
	height: 36px;
	background-position: -26px 0 ;
}
header p{
	color: #fff;
	text-align: center;
	font-size: 34px;
}

main{
	margin-top: 11.1rem;
	background-color: #29bde0;
	padding-top: 30px;
	border-top: solid 1px #fff;
	text-align: center;
}
.head{
	padding-left: 33px;
	font-size: 16px;
}

main button{
	border: none;
	width: 80%;
	background-color: #fbb435;
	color: #fff;
	font-size: 24px;
	margin: 25px 0;
	padding: 2% 0;
}
main a{text-decoration: none;color: #fff;}
.box{
	width: 20vw;
	height: 20vw;
	max-width: 160px;
	max-height: 160px;
	display: inline-block;
	border:solid 4px #fff;
	margin: 0 10px 15px;
	background-color: #83b09a;
	box-sizing: border-box;
}
.bigbox{
	width: 80%;
	margin:0 auto;
	text-align: initial;
}
.item1{
	height: 75%;
	background-color: #f5c97b;
	position: relative;
}
.item2{
	position: relative;
	color: #fff;
	height: 27%;
}
.box p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	margin: 0;
}